body{
    background-color: black;
}


.message{
    color: black;
    background-color: grey;
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
    text-align: center;
    display: inline-flex;
    font-size: 18px;
}

.lpic{
    width: 50%;
    height: 300px;
}

.rpic{
    width: 50%;
    height: 300px;
}

.choices{
    color:white;
    font-size: 30px;
}


#death{
    font-size: 100px;
    color:red;
    text-align:center;
    margin-top: 30%;
    margin-bottom: 10%;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#list{
    display:none;
    margin-left:35%;
    margin-right:35%;
    background-color: burlywood;
}