body{
    border: 6px solid white;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #E1E7E0;
}

h1{ /*big title*/
    text-align: center;
    font-style: italic;
    color:white;
}

div{
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word;
}

h3{  /*title*/
    text-decoration: bold;
    color: #2F6D80;
    font-size: 26px;
}

h4{ /* days */
    text-align: center;
    text-decoration: bold;
    color: lightblue;
    font-size: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

h5{  /*content*/
    font-size: 15px;
    font-style: italic;
    color: #6AA4B0;
    margin-left: 20px;
    margin-right: 2px;
}
